In [67]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

In [68]:
library = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\도서관\도서관.shp')
sing = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\노래방\노래방.shp')
museum = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\박물관미술관\박물관미술관.shp')
hospital = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\병원\병원.shp')
mart = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\시장 및 마트\시장및마트.shp')
pharmacy = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\약국\약국.shp')
movie = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\영화관\영화관.shp')
bus = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\정류장\정류장.shp')
gym = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\체육시설\체육시설_좌표.shp')

In [69]:
s_hospital = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\의원\의원.shp')
pc = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\PC방\PC방.shp')
cafe = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\카페\카페.shp')
restaurant = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\음식점\음식점.shp')
big_hospital = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\종합병원\종합병원.shp')
academy = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\학원\학원.shp')
s_mart = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\편의점\편의점.shp')
school = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\학교\학교.shp')
kid_school = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\유치원\유치원.shp')
child_center = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\어린이집\어린이집.shp')

In [70]:
plt.rcParams['font.family'] = 'NanumGothic'
plt.rcParams['figure.figsize'] = (10,10)

In [71]:
geo_dong = gpd.read_file(r'D:\coding\공모전\화성\boundry\BND_ADM_DONG_PG.shp',encoding='cp949')
geo_dong.head()

,BASE_DATE,ADM_NM,ADM_CD,geometry
0,20230701,사직동,11010530,"POLYGON ((197702.069 553187.311, 197703.431 55..."
1,20230701,삼청동,11010540,"POLYGON ((198170.457 553770.678, 198172.189 55..."
2,20230701,부암동,11010550,"POLYGON ((196621.023 556395.88, 196628.323 556..."
3,20230701,평창동,11010560,"POLYGON ((197800.719 559064.245, 197782.581 55..."
4,20230701,한남동,11030740,"POLYGON ((200404.268 550031.323, 200404.019 55..."

In [72]:
geo_dong.crs

<Projected CRS: PROJCS["Korea_2000_Korea_Central_Belt_2010",GEOGCS ...>
Name: Korea_2000_Korea_Central_Belt_2010
Axis Info [cartesian]:
- [east]: Easting (metre)
- [north]: Northing (metre)
Area of Use:
- undefined
Coordinate Operation:
- name: unnamed
- method: Transverse Mercator
Datum: Korean_Geodetic_Datum_2002
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [73]:
# geo_dong.set_crs(epsg=5186,inplace=True)
geo_dong.to_crs(epsg=4326,inplace=True)
geo_dong.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

## library

In [74]:
from shapely.geometry import Point, Polygon, LineString

library['geometry'] = library.apply(lambda row : Point([row['x'], row['y']]), axis=1)
library.head()

,field1,field2,field3,field4,field5,field6,field7,field8,field9,field10,...,field18,field19,field20,field21,field22,field23,field26,x,y,geometry
0,송린이음터도서관,경기도,화성시,공공도서관,"매월 두 번째 월요일, 일요일을 제외한 법정공휴일",9:00,22:00,9:00,18:00,9:00,...,경기도 화성시 수노을2로 150,화성시문화재단,031-356-9680,3765,1141.00,www.hscitylib.or.kr,경기 화성시 새솔동 125,126.822530,37.277323,POINT (126.82253 37.27732)
1,호연이음터작은도서관,경기도,화성시,작은도서관,"매주 일,월요일 및 법정공휴일",9:00,18:00,9:00,18:00,0:00,...,경기도 화성시 동탄대로3길 17-9,화성시인재육성재단,031-378-7116,11503,140.00,www.hscitylib.or.kr,경기 화성시 장지동 925,127.104206,37.162737,POINT (127.10421 37.16274)
2,왕배푸른숲도서관,경기도,화성시,공공도서관,"매월 두 번째 월요일, 일요일을 제외한 법정공휴일",9:00,22:00,9:00,18:00,9:00,...,경기도 화성시 동탄대로12길 102,화성시문화재단,031-372-4435,282284,2192.51,www.hscitylib.or.kr,경기 화성시 산척동 753,127.118531,37.193415,POINT (127.11853 37.19342)
3,서연이음터도서관,경기도,화성시,공공도서관,"매월 첫 번째 월요일, 일요일을 제외한 법정공휴일",9:00,22:00,9:00,18:00,9:00,...,경기도 화성시 동탄순환대로8길 57,화성시인재육성재단,031-378-1352,12946,739.00,www.hscitylib.or.kr,경기 화성시 장지동 972,127.109657,37.160590,POINT (127.10966 37.16059)
4,달빛나래어린이도서관,경기도,화성시,공공도서관,"매월 첫 번째 월요일, 일요일을 제외한 법정공휴일",9:00,18:00,9:00,18:00,9:00,...,경기도 화성시 영통로60번길 15,화성시문화재단,031-273-8878,10222,729.00,www.hscitylib.or.kr,경기 화성시 반월동 975,126.822798,37.202267,POINT (126.8228 37.20227)

In [75]:
library_df = gpd.sjoin(geo_dong, library)
library_df = library_df.rename(columns={'ADM_NM': '행정동명'})
library_df.head()

,BASE_DATE,행정동명,ADM_CD,geometry,index_right,field1,field2,field3,field4,field5,...,field17,field18,field19,field20,field21,field22,field23,field26,x,y
806,20230701,봉담읍,31240120,"POLYGON ((126.97571 37.22198, 126.97587 37.221...",17,봉담도서관,경기도,화성시,공공도서관,"매월 첫 번째 월요일, 일요일을 제외한 법정공휴일",...,14,경기도 화성시 봉담읍 샘마을1길 8-4,화성시문화재단,031-227-7281,2394,4574.0,www.hscitylib.or.kr,경기 화성시 봉담읍 상리 27-49,126.949004,37.219421
807,20230701,우정읍,31240130,"MULTIPOLYGON (((126.72566 37.00909, 126.72562 ...",6,기아행복마루작은도서관,경기도,화성시,작은도서관,"매주 일,월요일 및 법정공휴일",...,14,경기도 화성시 우정읍 기아자동차로 559,화성시문화재단,031-358-2597,6856,162.0,www.hscitylib.or.kr,경기 화성시 우정읍 화산리 617-15,126.795606,37.064700
807,20230701,우정읍,31240130,"MULTIPOLYGON (((126.72566 37.00909, 126.72562 ...",16,삼괴도서관,경기도,화성시,공공도서관,"매월 두 번째 월요일, 일요일을 제외한 법정공휴일",...,14,경기도 화성시 우정읍 쌍봉로 109-26,화성시문화재단,031-358-2101,6612,1965.0,www.hscitylib.or.kr,경기 화성시 우정읍 조암리 411-2,126.814319,37.089336
808,20230701,향남읍,31240140,"POLYGON ((126.94757 37.15003, 126.94762 37.150...",21,둥지나래어린이도서관,경기도,화성시,어린이도서관,"매월 첫 번째 월요일, 일요일을 제외한 법정공휴일",...,14,경기도 화성시 향남읍 행정중앙2로 88,화성시문화재단,031-353-8162,47003,1619.0,www.hscitylib.or.kr,경기 화성시 향남읍 행정리 490,126.924765,37.129177
808,20230701,향남읍,31240140,"POLYGON ((126.94757 37.15003, 126.94762 37.150...",22,경기화성교육도서관,경기도,화성시,공공도서관,월+국가지정공휴일,...,14,경기도 화성시 향남읍 발안로 85-10,경기화성교육도서관,031-369-5700,4552,2372.0,http://lib.goe.go.kr/hs,경기 화성시 향남읍 도이리 203-12,126.920256,37.133130

In [76]:
library_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 29 entries, 806 to 3101
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   BASE_DATE    29 non-null     object
 1   행정동명         29 non-null     object
 2   ADM_CD       29 non-null     object
 3   geometry     29 non-null     geometry
 4   index_right  29 non-null     int64
 5   field1       29 non-null     object
 6   field2       29 non-null     object
 7   field3       29 non-null     object
 8   field4       29 non-null     object
 9   field5       29 non-null     object
 10  field6       29 non-null     object
 11  field7       29 non-null     object
 12  field8       29 non-null     object
 13  field9       29 non-null     object
 14  field10      29 non-null     object
 15  field11      29 non-null     object
 16  field12      29 non-null     int32
 17  field13      29 non-null     int32
 18  field14      29 non-null     int32
 19  field15      29 non-null     int32
 20  field16      29 non-null     int32
 21  field17      29 non-null     int32
 22  field18      29 non-null     object
 23  field19      29 non-null     object
 24  field20      29 non-null     object
 25  field21      29 non-null     int32
 26  field22      29 non-null     float64
 27  field23      29 non-null     object
 28  field26      29 non-null     object
 29  x            29 non-null     float64
 30  y            29 non-null     float64
dtypes: float64(3), geometry(1), int32(7), int64(1), object(19)
memory usage: 6.5+ KB

In [77]:
library_group = library_df.groupby('행정동명').size().reset_index(name='도서관 수')
library_group.head()

   행정동명  도서관 수
0   남양읍      3
1  동탄1동      1
2  동탄3동      1
3  동탄4동      2
4  동탄5동      2

In [78]:
library_group.to_csv('reprocessing/도서관_행정동.csv', encoding='cp949', index=False)

## sing

In [79]:
from shapely.geometry import Point, Polygon, LineString

sing['geometry'] = sing.apply(lambda row : Point([row['x'], row['y']]), axis=1)
sing.head()

,field1,field2,field3,field4,field5,field6,field7,field8,field11,field12,...,field44,field45,field46,field47,field48,field49,field50,x,y,geometry
0,화성시,BMW노래연습장,영업중,20040503,경기도 화성시 봉담읍 와우안길 29,경기도 화성시 봉담읍 와우리 62-6,18321,None,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,126.977728,37.214611,POINT (126.97773 37.21461)
1,화성시,BM노래연습장,영업중,20100507,경기도 화성시 영통로27번길 8 (반월동),경기도 화성시 반월동 160-14,18378,None,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,127.063355,37.233409,POINT (127.06335 37.23341)
2,화성시,COINDAY 동전노래연습장,영업중,2016-07-12,"경기도 화성시 동탄중심상가2길 5, 2층 203호 (반송동, 리더스프라자)",경기도 화성시 반송동 88-12,18453,None,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,중심상업지역,127.072709,37.205987,POINT (127.07271 37.20599)
3,화성시,GALAXY노래연습장Ⅰ,영업중,2012-04-09,"경기도 화성시 큰재봉길 31-13, 201호 (석우동, 동탄엘리시아)",경기도 화성시 석우동 34-7 동탄엘리시아 201호,18450,None,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,근린상업지역,127.078490,37.218194,POINT (127.07849 37.21819)
4,화성시,GO노래연습장,영업중,20110817,경기도 화성시 봉담읍 샘마을1길 12,경기도 화성시 봉담읍 상리 23-4,18316,None,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,126.949643,37.219036,POINT (126.94964 37.21904)

In [80]:
sing_df = gpd.sjoin(geo_dong, sing)
sing_df = sing_df.rename(columns={'ADM_NM': '행정동명'})
sing_df.head()

,BASE_DATE,행정동명,ADM_CD,geometry,index_right,field1,field2,field3,field4,field5,...,field43,field44,field45,field46,field47,field48,field49,field50,x,y
162,20230701,동탄7동,31240691,"POLYGON ((127.13257 37.16827, 127.13256 37.168...",202,화성시,썬노래연습장,영업중,2019-07-11,"경기도 화성시 동탄순환대로 127-9, 313,314호 (산척동)",...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,None,127.107285,37.166534
162,20230701,동탄7동,31240691,"POLYGON ((127.13257 37.16827, 127.13256 37.168...",217,화성시,아이엠코인노래연습장(동탄호수3호),영업중,2023-08-23,"경기도 화성시 동탄순환대로 127-19, 동탄에스비타운 208호 (산척동)",...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,일반상업지역,127.107258,37.167409
162,20230701,동탄7동,31240691,"POLYGON ((127.13257 37.16827, 127.13256 37.168...",215,화성시,아이엠코인노래연습장,영업중,20190617,"경기도 화성시 동탄순환대로 127-23, 608,609호 (산척동)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,127.107267,37.167760
162,20230701,동탄7동,31240691,"POLYGON ((127.13257 37.16827, 127.13256 37.168...",216,화성시,아이엠코인노래연습장 동탄호수2호점,영업중,20220726,"경기도 화성시 동탄순환대로 127-23, 우성에듀파크 202호 (산척동)",...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,None,127.107267,37.167760
162,20230701,동탄7동,31240691,"POLYGON ((127.13257 37.16827, 127.13256 37.168...",132,화성시,부라보노래연습장,영업중,2019-03-19,"경기도 화성시 동탄순환대로 127-23, 301,302,303호 (산척동)",...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,None,127.107267,37.167760

In [81]:
sing_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 402 entries, 162 to 3093
Data columns (total 55 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   BASE_DATE    402 non-null    object
 1   행정동명         402 non-null    object
 2   ADM_CD       402 non-null    object
 3   geometry     402 non-null    geometry
 4   index_right  402 non-null    int64
 5   field1       402 non-null    object
 6   field2       402 non-null    object
 7   field3       402 non-null    object
 8   field4       402 non-null    object
 9   field5       402 non-null    object
 10  field6       402 non-null    object
 11  field7       402 non-null    int32
 12  field8       60 non-null     object
 13  field11      0 non-null      float64
 14  field12      0 non-null      float64
 15  field13      0 non-null      float64
 16  field14      0 non-null      float64
 17  field15      0 non-null      float64
 18  field16      0 non-null      float64
 19  field17      0 non-null      float64
 20  field18      393 non-null    float64
 21  field19      393 non-null    float64
 22  field20      402 non-null    object
 23  field21      402 non-null    object
 24  field22      244 non-null    float64
 25  field23      32 non-null     object
 26  field24      0 non-null      float64
 27  field25      394 non-null    float64
 28  field26      254 non-null    float64
 29  field27      236 non-null    float64
 30  field28      74 non-null     object
 31  field29      247 non-null    float64
 32  field30      235 non-null    float64
 33  field31      396 non-null    float64
 34  field32      290 non-null    float64
 35  field33      137 non-null    object
 36  field34      155 non-null    object
 37  field35      133 non-null    object
 38  field36      239 non-null    object
 39  field37      126 non-null    object
 40  field38      145 non-null    object
 41  field39      0 non-null      float64
 42  field40      0 non-null      float64
 43  field41      0 non-null      float64
 44  field42      0 non-null      float64
 45  field43      0 non-null      float64
 46  field44      214 non-null    float64
 47  field45      0 non-null      float64
 48  field46      0 non-null      float64
 49  field47      0 non-null      float64
 50  field48      0 non-null      float64
 51  field49      0 non-null      float64
 52  field50      51 non-null     object
 53  x            402 non-null    float64
 54  y            402 non-null    float64
dtypes: float64(31), geometry(1), int32(1), int64(1), object(21)
memory usage: 174.3+ KB

In [82]:
sing_group = sing_df.groupby('행정동명').size().reset_index(name='노래방 수')
sing_group.head()

   행정동명  노래방 수
0   기배동      4
1   남양읍     33
2  동탄1동     36
3  동탄2동      4
4  동탄3동      6

In [83]:
sing_group.to_csv('reprocessing/노래방_행정동.csv', encoding='cp949', index=False)

## museum

In [84]:
from shapely.geometry import Point, Polygon, LineString

museum['geometry'] = museum.apply(lambda row : Point([row['x'], row['y']]), axis=1)
museum.head()

,field1,field2,field3,field4,field5,field8,field9,field10,field11,field12,...,field19,field20,field21,field22,field23,field24,field25,x,y,geometry
0,화성시,제암리3.1운동순국기념관,공립,경기도 화성시 향남읍 제암길 50,경기도 화성시 향남읍 제암리 392-2번지,031-366-1604,(재)화성시문화재단,None,None,10:00,...,0,None,NaN,NaN,031-366-1604,(재)화성시문화재단,2023-10-10,126.891596,37.126308,POINT (126.8916 37.12631)
1,화성시,화성시 역사박물관,공립,경기도 화성시 향남읍 행정동로 96,경기도 화성시 향남읍 행정리 478번지,031-5189-3797,경기도 화성시 역사박물관,None,None,10:00,...,0,None,NaN,NaN,031-5189-3797,경기도 화성시 역사박물관,2023-10-10,126.928001,37.132613,POINT (126.928 37.13261)
2,화성시,소다미술관,사립,경기도 화성시 효행로707번길 30,경기도 화성시 안녕동 138-109번지,070-8915-9127,소다미술관,None,None,10:00,...,0,특별전시입장료-일반(12000)+특별전시입장료-유치원(5000)+특별전시입장료-청소...,NaN,NaN,070-8915-9127,소다미술관,2023-10-10,127.006088,37.201620,POINT (127.00609 37.20162)
3,화성시,엄미술관,사립,경기도 화성시 봉담읍 오궁길 37,경기도 화성시 봉담읍 수기리 1-1번지,031-222-9188,엄미술관,None,None,10:00,...,0,특별전시입장료-일반(5000)+특별전시입장료-초등학생(5000)+특별전시입장료-청소...,NaN,NaN,031-222-9188,엄미술관,2023-10-10,126.979381,37.205538,POINT (126.97938 37.20554)
4,화성시,수원대학교박물관,대학,경기도 화성시 봉담읍 와우안길 17,경기도 화성시 봉담읍 와우리 1-2번지,031-220-2341,수원대학교박물관,None,None,10:00,...,0,None,NaN,NaN,031-220-2341,수원대학교박물관,2023-10-10,126.979480,37.210117,POINT (126.97948 37.21012)

In [85]:
museum_df = gpd.sjoin(geo_dong,museum)
museum_df = museum_df.rename(columns={'ADM_NM': '행정동명'})
museum_df.head()

,BASE_DATE,행정동명,ADM_CD,geometry,index_right,field1,field2,field3,field4,field5,...,field18,field19,field20,field21,field22,field23,field24,field25,x,y
806,20230701,봉담읍,31240120,"POLYGON ((126.97571 37.22198, 126.97587 37.221...",3,화성시,엄미술관,사립,경기도 화성시 봉담읍 오궁길 37,경기도 화성시 봉담읍 수기리 1-1번지,...,0,0,특별전시입장료-일반(5000)+특별전시입장료-초등학생(5000)+특별전시입장료-청소...,NaN,NaN,031-222-9188,엄미술관,2023-10-10,126.979381,37.205538
808,20230701,향남읍,31240140,"POLYGON ((126.94757 37.15003, 126.94762 37.150...",0,화성시,제암리3.1운동순국기념관,공립,경기도 화성시 향남읍 제암길 50,경기도 화성시 향남읍 제암리 392-2번지,...,0,0,None,NaN,NaN,031-366-1604,(재)화성시문화재단,2023-10-10,126.891596,37.126308
808,20230701,향남읍,31240140,"POLYGON ((126.94757 37.15003, 126.94762 37.150...",6,화성시,제암리 3·1운동 순국기념관,공립,경기도 화성시 향남읍 제암길 50,경기도 화성시 향남읍 제암리 392-2번지,...,0,0,무료,NaN,NaN,031-5189-3616,경기도 화성시청,2023-06-26,126.891596,37.126308
808,20230701,향남읍,31240140,"POLYGON ((126.94757 37.15003, 126.94762 37.150...",1,화성시,화성시 역사박물관,공립,경기도 화성시 향남읍 행정동로 96,경기도 화성시 향남읍 행정리 478번지,...,0,0,None,NaN,NaN,031-5189-3797,경기도 화성시 역사박물관,2023-10-10,126.928001,37.132613
875,20230701,화산동,31240570,"POLYGON ((127.01028 37.22654, 127.01043 37.226...",2,화성시,소다미술관,사립,경기도 화성시 효행로707번길 30,경기도 화성시 안녕동 138-109번지,...,0,0,특별전시입장료-일반(12000)+특별전시입장료-유치원(5000)+특별전시입장료-청소...,NaN,NaN,070-8915-9127,소다미술관,2023-10-10,127.006088,37.201620

In [86]:
museum_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 9 entries, 806 to 875
Data columns (total 30 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   BASE_DATE    9 non-null      object
 1   행정동명         9 non-null      object
 2   ADM_CD       9 non-null      object
 3   geometry     9 non-null      geometry
 4   index_right  9 non-null      int64
 5   field1       9 non-null      object
 6   field2       9 non-null      object
 7   field3       9 non-null      object
 8   field4       9 non-null      object
 9   field5       9 non-null      object
 10  field8       9 non-null      object
 11  field9       9 non-null      object
 12  field10      3 non-null      object
 13  field11      1 non-null      object
 14  field12      9 non-null      object
 15  field13      9 non-null      object
 16  field14      9 non-null      object
 17  field15      9 non-null      object
 18  field16      9 non-null      object
 19  field17      9 non-null      int32
 20  field18      9 non-null      int32
 21  field19      9 non-null      int32
 22  field20      5 non-null      object
 23  field21      0 non-null      float64
 24  field22      0 non-null      float64
 25  field23      9 non-null      object
 26  field24      9 non-null      object
 27  field25      9 non-null      object
 28  x            9 non-null      float64
 29  y            9 non-null      float64
dtypes: float64(4), geometry(1), int32(3), int64(1), object(21)
memory usage: 2.1+ KB

In [87]:
museum_group = museum_df.groupby('행정동명').size().reset_index(name='박물관,미술관 수')
museum_group.head()

  행정동명  박물관,미술관 수
0  봉담읍          1
1  향남읍          3
2  화산동          5

In [88]:
museum_group.to_csv('reprocessing/박물관미술관_행정동.csv', encoding='cp949', index=False)

## hospital

In [89]:
from shapely.geometry import Point, Polygon, LineString

hospital['geometry'] = hospital.apply(lambda row : Point([row['x'], row['y']]), axis=1)

hospital_df = gpd.sjoin(geo_dong, hospital)
hospital_df = hospital_df.rename(columns={'ADM_NM': '행정동명'})

hospital_group = hospital_df.groupby('행정동명').size().reset_index(name='병원 수')

hospital_group.to_csv('reprocessing/병원_행정동.csv', encoding='cp949', index=False)

## mart

In [90]:
from shapely.geometry import Point, Polygon, LineString

mart['geometry'] = mart.apply(lambda row : Point([row['x'], row['y']]), axis=1)

mart_df = gpd.sjoin(geo_dong, mart)
mart_df = mart_df.rename(columns={'ADM_NM': '행정동명'})

mart_group = mart_df.groupby('행정동명').size().reset_index(name='시장및마트 수')

mart_group.to_csv('reprocessing/시장및마트_행정동.csv', encoding='cp949', index=False)

## pharmacy

In [91]:
from shapely.geometry import Point, Polygon, LineString

pharmacy['geometry'] = pharmacy.apply(lambda row : Point([row['x'], row['y']]), axis=1)

pharmacy_df = gpd.sjoin(geo_dong, pharmacy)
pharmacy_df = pharmacy_df.rename(columns={'ADM_NM': '행정동명'})

pharmacy_group = pharmacy_df.groupby('행정동명').size().reset_index(name='약국 수')

pharmacy_group.to_csv('reprocessing/약국_행정동.csv', encoding='cp949', index=False)

## movie

In [92]:
from shapely.geometry import Point, Polygon, LineString

movie['geometry'] = movie.apply(lambda row : Point([row['x'], row['y']]), axis=1)

movie_df = gpd.sjoin(geo_dong, movie)
movie_df = movie_df.rename(columns={'ADM_NM': '행정동명'})

movie_group = movie_df.groupby('행정동명').size().reset_index(name='영화관 수')

movie_group.to_csv('reprocessing/영화관_행정동.csv', encoding='cp949', index=False)

## bus

In [93]:
from shapely.geometry import Point, Polygon, LineString

bus['geometry'] = bus.apply(lambda row : Point([row['x'], row['y']]), axis=1)

bus_df = gpd.sjoin(geo_dong, bus)
bus_df = bus_df.rename(columns={'ADM_NM': '행정동명'})

bus_group = bus_df.groupby('행정동명').size().reset_index(name='정류장 수')

bus_group.to_csv('reprocessing/정류장_행정동.csv', encoding='cp949', index=False)

## gym

In [94]:
from shapely.geometry import Point, Polygon, LineString

gym['geometry'] = gym.apply(lambda row : Point([row['x'], row['y']]), axis=1)

gym_df = gpd.sjoin(geo_dong, gym)
gym_df = gym_df.rename(columns={'ADM_NM': '행정동명'})

gym_group = gym_df.groupby('행정동명').size().reset_index(name='체육시설 수')

gym_group.to_csv('reprocessing/체육시설_행정동.csv', encoding='cp949', index=False)

## s_hospital

In [95]:
from shapely.geometry import Point, Polygon, LineString

s_hospital['geometry'] = s_hospital.apply(lambda row : Point([row['y'], row['x']]), axis=1)

s_hospital_df = gpd.sjoin(geo_dong, s_hospital)
s_hospital_df = s_hospital_df.rename(columns={'ADM_NM': '행정동명'})

s_hospital_group = s_hospital_df.groupby('행정동명').size().reset_index(name='의원 수')

s_hospital_group.to_csv('reprocessing/의원_행정동.csv', encoding='cp949', index=False)

## PC방

In [96]:
from shapely.geometry import Point, Polygon, LineString

pc['geometry'] = pc.apply(lambda row : Point([row['y'], row['x']]), axis=1)

pc_df = gpd.sjoin(geo_dong, pc)
pc_df = pc_df.rename(columns={'ADM_NM': '행정동명'})

pc_group = pc_df.groupby('행정동명').size().reset_index(name='PC방 수')

pc_group.to_csv('reprocessing/PC방_행정동.csv', encoding='cp949', index=False)

## cafe

In [97]:
from shapely.geometry import Point, Polygon, LineString

cafe['geometry'] = cafe.apply(lambda row : Point([row['y'], row['x']]), axis=1)

cafe_df = gpd.sjoin(geo_dong, cafe)
cafe_df = cafe_df.rename(columns={'ADM_NM': '행정동명'})

cafe_group = cafe_df.groupby('행정동명').size().reset_index(name='카페 수')

cafe_group.to_csv('reprocessing/카페_행정동.csv', encoding='cp949', index=False)

## restaurant

In [98]:
from shapely.geometry import Point, Polygon, LineString

restaurant['geometry'] = restaurant.apply(lambda row : Point([row['y'], row['x']]), axis=1)

restaurant_df = gpd.sjoin(geo_dong, restaurant)
restaurant_df = restaurant_df.rename(columns={'ADM_NM': '행정동명'})

restaurant_group = restaurant_df.groupby('행정동명').size().reset_index(name='식당 수')

restaurant_group.to_csv('reprocessing/식당_행정동.csv', encoding='cp949', index=False)

## big_hospital

In [99]:
from shapely.geometry import Point, Polygon, LineString

big_hospital['geometry'] = big_hospital.apply(lambda row : Point([row['y'], row['x']]), axis=1)

big_hospital_df = gpd.sjoin(geo_dong, big_hospital)
big_hospital_df = big_hospital_df.rename(columns={'ADM_NM': '행정동명'})

big_hospital_group = big_hospital_df.groupby('행정동명').size().reset_index(name='종합병원 수')

big_hospital_group.to_csv('reprocessing/종합병원_행정동.csv', encoding='cp949', index=False)

## academy

In [100]:
from shapely.geometry import Point, Polygon, LineString

academy['geometry'] = academy.apply(lambda row : Point([row['y'], row['x']]), axis=1)

academy_df = gpd.sjoin(geo_dong, academy)
academy_df = academy_df.rename(columns={'ADM_NM': '행정동명'})

academy_group = academy_df.groupby('행정동명').size().reset_index(name='학원 수')

academy_group.to_csv('reprocessing/학원_행정동.csv', encoding='cp949', index=False)

## s_mart

In [101]:
from shapely.geometry import Point, Polygon, LineString

s_mart['geometry'] = s_mart.apply(lambda row : Point([row['y'], row['x']]), axis=1)

s_mart_df = gpd.sjoin(geo_dong, s_mart)
s_mart_df = s_mart_df.rename(columns={'ADM_NM': '행정동명'})

s_mart_group = s_mart_df.groupby('행정동명').size().reset_index(name='편의점 수')

s_mart_group.to_csv('reprocessing/편의점_행정동.csv', encoding='cp949', index=False)

## school

In [102]:
from shapely.geometry import Point, Polygon, LineString

school['geometry'] = school.apply(lambda row : Point([row['y'], row['x']]), axis=1)

school_df = gpd.sjoin(geo_dong, school)
school_df = school_df.rename(columns={'ADM_NM': '행정동명'})

school_group = school_df.groupby('행정동명').size().reset_index(name='학교 수')

school_group.to_csv('reprocessing/학교_행정동.csv', encoding='cp949', index=False)

## child_center

In [103]:
from shapely.geometry import Point, Polygon, LineString

child_center['geometry'] = child_center.apply(lambda row : Point([row['y'], row['x']]), axis=1)

child_center_df = gpd.sjoin(geo_dong, child_center)
child_center_df = child_center_df.rename(columns={'ADM_NM': '행정동명'})

child_center_group = child_center_df.groupby('행정동명').size().reset_index(name='어린이집 수')

child_center_group.to_csv('reprocessing/어린이집_행정동.csv', encoding='cp949', index=False)

## kid_school

In [104]:
from shapely.geometry import Point, Polygon, LineString

kid_school['geometry'] = kid_school.apply(lambda row : Point([row['y'], row['x']]), axis=1)

kid_school_df = gpd.sjoin(geo_dong, kid_school)
kid_school_df = kid_school_df.rename(columns={'ADM_NM': '행정동명'})

kid_school_group = kid_school_df.groupby('행정동명').size().reset_index(name='유치원 수')

kid_school_group.to_csv('reprocessing/유치원_행정동.csv', encoding='cp949', index=False)

---

In [105]:
import pandas as pd
data = pd.read_csv(r'D:\coding\공모전\화성\data\1. 경기도 화성시_인구_20231107.csv',encoding='cp949')
data.head()

,행정구역,인구수,남자인구수,여자인구수,0-9세,10-19세,20-29세,30-39세,40-49세,50-59세,60-69세,70-79세,80-89세,90-99세,100세 이상
0,봉담읍,92823.0,46958.0,45865.0,8298.0,10731.0,11389.0,13631.0,17139.0,14590.0,10207.0,4513.0,2028.0,280.0,17.0
1,우정읍,17439.0,9598.0,7841.0,639.0,1353.0,1718.0,1557.0,2493.0,3635.0,3283.0,1688.0,919.0,150.0,4.0
2,향남읍,85647.0,46002.0,39645.0,8147.0,10838.0,9798.0,13185.0,17833.0,12676.0,7873.0,3416.0,1634.0,245.0,2.0
3,남양읍,55133.0,29923.0,25210.0,4967.0,4473.0,7045.0,9857.0,9167.0,8483.0,6888.0,2758.0,1267.0,218.0,10.0
4,매송면,6742.0,3599.0,3143.0,177.0,403.0,690.0,598.0,765.0,1348.0,1515.0,745.0,446.0,55.0,0.0

In [ ]:
library = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\도서관\도서관.shp')
sing = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\노래방\노래방.shp')
museum = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\박물관미술관\박물관미술관.shp')
hospital = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\병원\병원.shp')
mart = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\시장 및 마트\시장및마트.shp')
pharmacy = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\약국\약국.shp')
movie = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\영화관\영화관.shp')
bus = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\정류장\정류장.shp')
gym = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\체육시설\체육시설_좌표.shp')

s_hospital = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\의원\의원.shp')
pc = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\PC방\PC방.shp')
cafe = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\카페\카페.shp')
restaurant = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\음식점\음식점.shp')
big_hospital = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\종합병원\종합병원.shp')
academy = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\학원\학원.shp')
s_mart = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\편의점\편의점.shp')
school = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\학교\학교.shp')
kid_school = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\유치원\유치원.shp')
child_center = gpd.read_file(r'C:\Users\mwj05\Desktop\새로 전처리\어린이집\어린이집.shp')

In [106]:
data = pd.merge(data, library_group, how='left', left_on='행정구역', right_on='행정동명')
data = data.drop(columns=['행정동명'])
data = pd.merge(data, sing_group, how='left', left_on='행정구역', right_on='행정동명')
data = data.drop(columns=['행정동명'])
data = pd.merge(data, museum_group, how='left', left_on='행정구역', right_on='행정동명')
data = data.drop(columns=['행정동명'])
data = pd.merge(data, hospital_group, how='left', left_on='행정구역', right_on='행정동명')
data = data.drop(columns=['행정동명'])
data = pd.merge(data, mart_group, how='left', left_on='행정구역', right_on='행정동명')
data = data.drop(columns=['행정동명'])
data = pd.merge(data, pharmacy_group, how='left', left_on='행정구역', right_on='행정동명')
data = data.drop(columns=['행정동명'])
data = pd.merge(data, movie_group, how='left', left_on='행정구역', right_on='행정동명')
data = data.drop(columns=['행정동명'])
data = pd.merge(data, bus_group, how='left', left_on='행정구역', right_on='행정동명')
data = data.drop(columns=['행정동명'])
data = pd.merge(data, gym_group, how='left', left_on='행정구역', right_on='행정동명')
data = data.drop(columns=['행정동명'])
data = pd.merge(data, s_hospital_group, how='left', left_on='행정구역', right_on='행정동명')
data = data.drop(columns=['행정동명'])
data = pd.merge(data, pc_group, how='left', left_on='행정구역', right_on='행정동명')
data = data.drop(columns=['행정동명'])
data = pd.merge(data, cafe_group, how='left', left_on='행정구역', right_on='행정동명')
data = data.drop(columns=['행정동명'])
data = pd.merge(data, restaurant_group, how='left', left_on='행정구역', right_on='행정동명')
data = data.drop(columns=['행정동명'])
data = pd.merge(data, big_hospital_group, how='left', left_on='행정구역', right_on='행정동명')
data = data.drop(columns=['행정동명'])
data = pd.merge(data, academy_group, how='left', left_on='행정구역', right_on='행정동명')
data = data.drop(columns=['행정동명'])
data = pd.merge(data, s_mart_group, how='left', left_on='행정구역', right_on='행정동명')
data = data.drop(columns=['행정동명'])
data = pd.merge(data, school_group, how='left', left_on='행정구역', right_on='행정동명')
data = data.drop(columns=['행정동명'])
data = pd.merge(data, kid_school_group, how='left', left_on='행정구역', right_on='행정동명')
data = data.drop(columns=['행정동명'])
data = pd.merge(data, child_center_group, how='left', left_on='행정구역', right_on='행정동명')
data = data.drop(columns=['행정동명'])

In [107]:
data.head()

,행정구역,인구수,남자인구수,여자인구수,0-9세,10-19세,20-29세,30-39세,40-49세,50-59세,...,의원 수,PC방 수,카페 수,식당 수,종합병원 수,학원 수,편의점 수,학교 수,유치원 수,어린이집 수
0,봉담읍,92823.0,46958.0,45865.0,8298.0,10731.0,11389.0,13631.0,17139.0,14590.0,...,91.0,42.0,5.0,856.0,NaN,222.0,63.0,14.0,15.0,78.0
1,우정읍,17439.0,9598.0,7841.0,639.0,1353.0,1718.0,1557.0,2493.0,3635.0,...,28.0,14.0,1.0,348.0,NaN,17.0,27.0,7.0,5.0,7.0
2,향남읍,85647.0,46002.0,39645.0,8147.0,10838.0,9798.0,13185.0,17833.0,12676.0,...,95.0,92.0,10.0,1254.0,1.0,203.0,84.0,19.0,16.0,68.0
3,남양읍,55133.0,29923.0,25210.0,4967.0,4473.0,7045.0,9857.0,9167.0,8483.0,...,56.0,37.0,4.0,773.0,NaN,83.0,67.0,7.0,7.0,49.0
4,매송면,6742.0,3599.0,3143.0,177.0,403.0,690.0,598.0,765.0,1348.0,...,1.0,3.0,NaN,80.0,NaN,7.0,7.0,2.0,2.0,1.0

In [109]:
data = data.fillna(0)
data.head(2)

,행정구역,인구수,남자인구수,여자인구수,0-9세,10-19세,20-29세,30-39세,40-49세,50-59세,...,의원 수,PC방 수,카페 수,식당 수,종합병원 수,학원 수,편의점 수,학교 수,유치원 수,어린이집 수
0,봉담읍,92823.0,46958.0,45865.0,8298.0,10731.0,11389.0,13631.0,17139.0,14590.0,...,91.0,42.0,5.0,856.0,0.0,222.0,63.0,14.0,15.0,78.0
1,우정읍,17439.0,9598.0,7841.0,639.0,1353.0,1718.0,1557.0,2493.0,3635.0,...,28.0,14.0,1.0,348.0,0.0,17.0,27.0,7.0,5.0,7.0

In [111]:
data.to_csv('화성시인프라.csv',encoding='cp949')

In [115]:
# inplace=True를 사용하여 변경사항을 적용
data = data.rename(columns={"시장및마트 수": "시장 및 마트 수"})

In [116]:
# 인구 관련 컬럼과 인프라 관련 컬럼을 분리하여 순서 지정
인구_columns = ['행정구역', '인구수', '남자인구수', '여자인구수', '0-9세', '10-19세', '20-29세', 
              '30-39세', '40-49세', '50-59세', '60-69세', '70-79세', '80-89세', '90-99세', '100세 이상']

인프라_columns = ['병원 수','노래방 수','체육시설 수','도서관 수','박물관,미술관 수','시장 및 마트 수', '약국 수', 
               '정류장 수','영화관 수',  '의원 수', 'PC방 수', '카페 수', '학교 수','학원 수',
               '식당 수', '편의점 수','어린이집 수','유치원 수','종합병원 수']

# 컬럼 순서 재배열
data = data[인구_columns + 인프라_columns]

# CSV 파일로 저장
data.to_csv('화성시인프라.csv', encoding='cp949', index=False)